# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/

# Logs & runtime
*.log
*.sock
*.pid
.python_history

# Backups
*.tar
*.tar.gz

# Local test/dev scripts
*_old
*_after_update.py
*_bef_*.py
*_07092025*
*_14072025*
test_*.py
sim_debug.py
get-pip.py

# IDE / editor
.vscode/
.idea/

