# Environnement virtuel
venv/

# Caches Python
__pycache__/
*.py[cod]

# Fichiers de sauvegarde / versions datées
*~ 
*_14072025*.py
*_14072025*.js
*_202505231915*

# MacOS / Linux swap
.DS_Store
*.swp
venv/
__pycache__/
*.pyc
